{{ #if showHeader }}
<div id="header">
    <div class="wrapper">
        <div class="title">userde.sk/{{ account }}</div>
        <div class="menu">
            <ul>
                {{ #menu }}
                <li class="{{ #active }}active{{ /active }}">
                    <a href="{{ url }}">{{ label }}</a>
                </li>
                {{ /menu }}
            </ul>
        </div>
    </div>
</div>
{{ /if }}