<div id="header">
    <div class="wrapper">
        <div class="title">userde.sk/{{ account.value }}</div>
        <div class="menu">
            <!--
            <ul>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
            -->
        </div>
    </div>
</div>