<div id="header">
    <div class="wrapper">
        <div id="account">
        {{ #isLoggedIn }}
            <a class="icon user">{{ user.value.displayName }}</a>
            {{ #if layout.showAccountDropdown }}
            <div class="dropdown" style="right:{{ dropdownRight }}px">
                <div class="section profile">
                    <div class="avatar">
                        <!--<div class="icon user"></div>-->
                        {{ avatar 40 }}
                    </div>
                    <div class="email">
                        {{ user.value.email }}
                    </div>
                    <a class="primary button small settings">Settings</a>
                </div>
                <ul class="section menu">
                {{ #isAdmin }}
                    <li><a target="mixpanel" href="https://mixpanel.com/report/339487/">Analytics</a></li>
                {{ /isAdmin }}
                    <li><a class="logout">Logout</a></li>
                </ul>
            </div>
            {{ /if }}
        {{ else }}
            <div class="icon button secondary small github">Connect with GitHub</div>
        {{ /isLoggedIn }}
        </div>
        <div id="title">userde.sk@{{ account.value }}</div>
        <div id="menu">
            <!--
            <ul>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
            -->
        </div>
    </div>
</div>