{{ #isVisible }}
<div id="notify" class="{{ type }}">
    <div class="message">
        <div class="wrapper">
            <div class="content">
                {{{ text }}}
            </div>
        </div>
    </div>
</div>
{{ /isVisible }}