<div id="content" class="box">
    <div class="header">
        <h2>How can we help?</h2>
        <p>Send us bugs you have encountered or suggestions.</p>
    </div>

    <div class="form">
        <div class="box">
            <div class="field">
                <h3>1. Title</h3>
                <label>What question would you like to ask?</label>
                {{ #errors.title }}
                <app-error></app-error>
                {{ /errors.title }}
                <span class="searching icon spin6"></span>
                <input
                    class="input title {{ #if errors.title.length }}error{{ /if }}"
                    data-key="title"
                    type="text"
                    placeholder="Type your question here"
                    autofocus
                />
            </div>
            <app-results></app-results>
        </div>

        <div class="box">
            <div class="field">
                <h3>2. Description</h3>
                <div>
                    <span class="icon eye preview closed"></span>
                    <label>Describe the question you are asking. You can use <a target="_blank" href="https://help.github.com/articles/github-flavored-markdown" class="link">GitHub Flavored Markdown</a>.</label>
                </div>
                {{ #errors.body }}
                <app-error></app-error>
                {{ /errors.body }}
                <textarea
                    class="input body {{ #if errors.body.length }}error{{ /if }}"
                    data-key="body"
                    placeholder="Make it simple and easy to understand"
                ></textarea>
                <div id="preview"></div>
            </div>
        </div>

        <div class="box">
            <div class="field">
                <h3>3. Contact</h3>
                {{ #isLoggedIn }}
                    Connected as {{ user.value.displayName }}. <a class="link logout">Logout</a>
                    <input
                        type="hidden"
                        class="input contact"
                        data-key="contact"
                        value="{{ user.value.email }}"
                    />
                {{ else }}
                <!--
                    <label>Provide either an email or connect with <a class="link">GitHub</a>.</label>
                    <div class="half first">
                        <input class="input" type="text" placeholder="Email address" />
                    </div>
                    <div class="half second">
                        <div class="button github">Connect with GitHub</div>
                    </div>
                -->
                    <label>Connect with <a class="link">GitHub</a>. Only your public profile is accessed.</label>
                    <div class="icon button github">Connect with GitHub</div>
                    {{ #errors.contact }}
                    <app-error></app-error>
                    {{ /errors.contact }}
                {{ /isLoggedIn }}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="button primary submit">Finish</div>
    </div>
</div>