<div id="content" class="box">
    <div class="header">
        <h2>How can we help?</h2>
        <p>Send us bugs you have encountered or suggestions.</p>
    </div>

    <div class="form">
        <div class="box">
            <div class="field">
                <h3>1. Title</h3>
                <label>What question would you like to ask?</label>
                <input class="input title" type="text" placeholder="Type your question here" autofocus />
            </div>
            <app-results></app-results>
        </div>

        <div class="box">
            <div class="field">
                <h3>2. Description</h3>
                <div>
                    <span class="preview">Preview</span>
                    <label>Describe the question you are asking. You can use <a class="link">GitHub Flavored Markdown</a>.</label>
                </div>
                <textarea class="input" rows=4 placeholder="Make it simple and easy to understand"></textarea>
            </div>
        </div>

        <div class="box">
            <div class="field">
                <h3>3. Contact</h3>
                {{ #isLoggedIn }}
                    Connected as {{ user.value.displayName }}
                {{ else }}
                <!--
                    <label>Provide either an email or connect with <a class="link">GitHub</a>.</label>
                    <div class="half first">
                        <input class="input" type="text" placeholder="Email address" />
                    </div>
                    <div class="half second">
                        <div class="button github">Connect with GitHub</div>
                    </div>
                -->
                    <label>Connect with <a class="link">GitHub</a>. Only your public profile is accessed.</label>
                    <div class="button github">Connect with GitHub</div>
                {{ /isLoggedIn }}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="button primary">Finish</div>
    </div>
</div>