{{ #showTutorial }}
<div id="tutorial">
    <div class="head">
        <span class="icon cancel-circled-outline close"></span> <h2>Tutorial</h2>
    </div>
    <div class="step active">
        <h3><span class="number">1</span> Submit an issue</h3>
        <p>Bacon ipsum dolor sit amet rump fatback ground round, tail pork chop chuck beef andouille biltong corned beef. Frankfurter <a href="#">flank pork</a>, meatloaf ribeye meatball jerky. Shankle salami tail meatball ball tip landjaeger pork belly.</p>
    </div>
    <div class="step">
        <h3><span class="number">2</span> Fill in the body</h3>
    </div>
    <div class="step">
        <h3><span class="number">3</span> Replies</h3>
    </div>
</div>
{{ /showTutorial }}