{{ #showTutorial }}
<div id="tutorial">
    <h2>Tutorial</h2>
    <h3><span class="active step">1</span> Submit an issue</h3>
    <p>Bacon ipsum dolor sit amet rump fatback ground round, tail pork chop chuck beef andouille biltong corned beef. Frankfurter <a href="#">flank pork</a>, meatloaf ribeye meatball jerky. Shankle salami tail meatball ball tip landjaeger pork belly.</p>
</div>
{{ /showTutorial }}