@import 'nib'

$whitespace = 20px

// So we can capture app-wide events.
app-layout
    display: block
    min-height: 100%
    padding-bottom: 40px

    // submit
    &.app
        background: #F8F8F8 url('img/patterns/squairy_light.png')

    // signup, login
    &.box
        padding: 1px 0

    // index
    &.index
        background: url('img/hires/fields.jpg') no-repeat center center
        background-size: cover

// Hero banner on the index page.
#hero
    padding: 20px 0
    margin: 0 auto
    width: 800px

    .title, .subtitle
        background: rgba(0,0,0,0.5)
        color: #FFF
        padding: 6px 12px

    .title
        font-size: 34px
        display: inline-block

    .subtitle
        font-size: 27px
        width: 332px
        margin-bottom: 30px
        text-align: justify

    .button:not(:first-child)
        margin-left: 10px

// Header duh.
#header
    background: #FEDB27
    border-bottom: 1px solid #CDAC19

    .wrapper
        width: 800px
        margin: 0 auto

    #title, #menu
        display: inline-block

    #title
        font-weight: bold
        margin-right: $whitespace
        padding: $whitespace 0
        color: #121004
        font-size: 20px

    #menu
        ul
            li
                &:not(:last-child)
                    margin-right: 10px
                
                &.active
                    font-weight: bold

                a
                    color: #6F5F11
                    padding: 10px
                    text-decoration: none

                    &:hover
                        color: #374044

    #account
        float: right
        position: relative
        user-select: none

        .github.button
            margin: 21px 0

        .icon.user
            display: block
            padding: 10px 0
            margin: 12px 0

        .dropdown
            min-width: 245px
            background: #FFF
            border: 1px solid #AAA
            border-radius: 3px
            position: absolute
            top: 50px
            right: 0 // dynamically calculate based on display name
            margin-right: -29px
            z-index: 3

            &:before
                content: ""
                height: 0
                width: 0
                position: absolute
                top: -16px
                right: 9px
                border: solid rgba(0,0,0,0)
                border-bottom-color: #AAA
                border-width: 8px

            &:after
                content: ""
                height: 0
                width: 0
                position: absolute
                top: -14px
                right: 10px
                border: solid rgba(0,0,0,0)
                border-bottom-color: #FFF
                border-width: 7px

            .section
                padding: 10px

                &:not(:last-child)
                    border-bottom: 1px solid #E5E5E5

            .avatar
                width: 40px
                height: 40px
                background: #F8F8F8
                position: relative
                float: left
                margin-right: 12px

                .icon.user
                    color: #C0C0C0
                    position: absolute
                    font-size: 42px
                    top: -5px
                    left: -10px

            .email
                font-size: 13px
                line-height: 1
                font-weight: bold
                margin-bottom: 5px

            .menu
                li
                    width: 100%
                
                    a
                        width: 100%
                        margin: 0 -10px
                        display: block
                        padding: 0 10px
                        line-height: 26px
                        text-decoration: none
                        color: inherit
                        
                        &:hover
                            color: #FFF
                            background: #0079FF

// Notifications, state.
#notify
    content: ""
    position: fixed
    top: 0
    left: 0
    background: rgba(255,255,255,0.9)
    width: 100%
    height: 100%
    z-index: 2
    
    .message
        position: fixed
        left: 50%
        top: 50%

        .wrapper
            position: relative
            left: -50%
            top: -50%
            background: #FFF
            border: 1px solid #CECECE
            margin: 0 auto

            .content
                padding: 20px
                text-align: center
                font-weight: bold
                min-width: 300px

    &.load
        .icon
            display: inline-block
            margin-left: 6px

// A generic box style.
#promo, #content
    &.box
        background: #FFF
        border: 1px solid #CECECE
        margin: 0 auto
        margin-bottom: 40px
        width: 800px

// Boxes without a header.
#promo.box
    margin-top: 40px
    border-top: 3px solid #FEDB27

    $box_padding = 35px

    .left, .right
        float: left
        padding: $box_padding
        box-sizing: border-box
        position: relative

    $box_top_height = 50px

    // Login page.
    &.login
        .left, .right
            height: 360px
        
        .left
            background-image: url('img/hires/lighthouse.jpg')
            background-position: 0 -40px
            background-size: 140% auto

    // Signup page.
    &.signup
        .left, .right
            height: 800px

        .left
            background-image: url('img/hires/traffic.jpg')
            background-size: 140% auto

    .left
        background-repeat: no-repeat
        border-right: 1px solid #CECECE
        width: 450px

        // Title & link on a dark background.
        .title, .link
            background: rgba(0,0,0,0.5)
            padding: 4px 6px

        .title
            font-weight: bold
            color: #FFF
            font-size: 20px
            margin-top: $box_top_height
            margin-bottom: $whitespace
            display: inline-block

        .link
            color: #FFF
            border-bottom: 1px solid rgba(#FFF, 0.5)

        // Links and content at the foot.
        .bottom
                bottom: $box_padding - 4px
                left: $box_padding - 6px
                position: absolute

                *:not(:last-child)
                    margin-right: 30px

    .right
        width: 350px

        .header
            margin-top: $box_top_height

        h1
            margin: 0
            margin-bottom: $whitespace

        .form
            margin-bottom: $whitespace

        // Links and content at the foot.
        .bottom
            bottom: $box_padding
            left: $box_padding
            position: absolute

            *:not(:last-child)
                margin-right: 30px

    &:after
        clear: both
        content: ""
        display: block

// Inner app pages.
#content.box
    margin-top: 40px

    .header
        padding: $whitespace
        margin-bottom: 10px
        background: #F7F7F7
        border-bottom: 1px solid rgba(102, 198, 248, 0.2)

        h2
            margin: 0

        p
            opacity: 0.8
            margin-bottom: 0

    .form
        padding: $whitespace

        .field
            // Either-or field.
            .half
                width: 50%
                float: left
                box-sizing: border-box
                position: relative

                &.first
                    padding-right: 40px
                    border-right: 1px solid #CCC

                    &:after
                        content: 'or'
                        color: #CCC
                        position: absolute
                        top: 9px
                        right: -7px
                        font-style: italic
                        padding: 2px 0
                        background: #FFF

                &.second
                    padding-left: 40px

    // Footer showing a submit button.
    .footer
        border-top: 1px solid #E2E2E2
        padding: $whitespace

        .button.primary
            float: right

        &:after
            clear: both
            display: block
            content: ''

// Search spinner
.form
    .searching
        display: none
        position: absolute
        right: 10px
        bottom: 11px
        color: #0079FF

// Search results listing.
#results
    display: block
    max-height: 126px
    overflow-y: scroll
    border: 1px solid #CCC
    border-top: 0

    ul
        li
            display: block
            padding: 8px

            &:not(:last-child)
                border-bottom: 1px solid rgba(#CCC, 0.5)

            &:nth-child(even)
                background: rgba(0,0,0,0.004)

            &:after
                clear: both
                display: block
                content: ''

            a
                span
                    background: rgba(#FEDB27, 0.5)
                    color: #374044
                    padding: 0 2px
                    margin: 0 -2px

            // Time ago.
            .ago
                margin-left: 6px
                font-size: 12px
                color: #AAA

    // Tags.
    .tag
        padding: 2px 8px
        border-color: rgba(0,0,0,0.15)
        border-radius: 2px
        font-weight: bold
        display: inline-block
        user-select: none
        font-size: 12px
        float: right

        &.closed
            background: #FEDB27

        &.discussed
            color: #FFF
            background: #CACACA

.box.focus
    #results
        border-color: rgba(#66C6F8, 40%)

// Issue body preview.
.box .form
    .preview
        float: right
        cursor: pointer

        &:before
            opacity: 0.75

        &:after
            opacity: 0.75
            content: 'Close preview'
        
        &.closed
            &:after
                content: 'Preview'

        &:hover                    
            &:before
                opacity: 1
            
            &:after
                opacity: 1

#preview
    display: none
    padding: 10px
    border: 1px solid #FFF

    p
        margin-top: 0

    code
        font-size: 14px