@import 'nib'

// Container.
.form
    .box
        &:not(:first-child)
            border-top: 1px dotted #CCC
            margin-top: 32px
            padding-top: 26px

    .field
        position: relative

        &:after
            clear: both
            display: block
            content: ''

        label, input, textarea
            display: block
            width: 100%

        label
            margin-bottom: 10px

        .message
            font-size: 11px
            line-height: 14px

            &.error
                color: #E74C3C

// An input/textarea field.
.input
    padding: 10px
    box-sizing: border-box
    border: 1px solid #CCC
    background: lighten(#FAF8F5, 40%)
    color: #374044

    &.error
        border-color: #E74C3C

    &:focus
        outline: none
        border: 1px solid rgba(#66C6F8, 40%)
        font-weight: bold
        color: #0079FF

// A button.
.button
    background: rgba(255, 255, 255, 0.75)
    padding: 8px 22px
    transition: opacity 0.1s
    border: 1px solid #BFBFBF
    border-radius: 2px
    font-weight: bold
    color: #374044
    font-size: 14px
    cursor: pointer
    display: inline-block
    user-select: none
    text-align: center
    text-decoration: none
    border-color: rgba(0,0,0,0.25)
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset

    &:hover
        background: rgba(0,0,0,0.05)

    // Icons.
    &.icon
        &:before
            margin-right: 6px

    // Primary.
    &.primary
        color: #FFF
        background: linear-gradient(top, #1b9fff, #2180f0)

        &:hover
            background: linear-gradient(top, #0194ff, #1073e8)

        &:active
            background: linear-gradient(top, #1073e8, #008cf1)

    // Secondary.
    &.secondary
        color: #374044
        background: linear-gradient(top, #fff, #f0f0f0)

        &:hover
            background: linear-gradient(top, #f2f2f2, #e3e3e3)

        &:active
            background: linear-gradient(top, #e3e3e3, #ebebeb)

    // Others.
    &.candlelight
        color: #374044
        background: #fedb27

        &:hover
            background: #fdcc1e

        &:active
            background: #f7c102 // 12% darker

    // Sizes.
    &.small
        font-size: 13px
        padding: 2px 12px
    
    &.large
        min-width: 100px
        font-size: 20px
        padding: 10px 24px

    // Override all.
    &.disabled
        color: rgba(255,255,255,0.55)
