@import 'nib'

// See: http://fontello.com/
.icon
    &:before
        font-family: "Icons"
        font-style: normal
        font-weight: normal
        speak: none

        display: inline-block
        text-decoration: inherit
        width: 1em
        margin-right: .2em
        text-align: center

        /* For safety - reset parent styles, that can break glyph codes */
        font-variant: normal
        text-transform: none
         
        /* fix buttons height, for twitter bootstrap */
        line-height: 1em

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em 

    // Entypo.
    &.user
        &:before
            content: '\e800'

    // Font Awesome.
    &.eye
        &:before
            content: '\e801'

    &.eye-off
        &:before
            content: '\e802'

    &.github
        &:before
            content: '\e803'

    // Fontelico.
    &.spin6
        animation: spin 2s infinite linear
        
        &:before
            content: '\e804'

    // Typicons.
    &.cancel-circled-outline
        &:before
            content: '\e805'

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg) }
    to { -moz-transform: rotate(360deg) }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(360deg) }
}
@keyframes spin {
    from { transform:rotate(0deg) }
    to { transform:rotate(360deg) }
}