<app-layout class="index">
    <div id="hero">
        <h1 class="title">userde.sk</h1>
        <p class="subtitle">Your better customer support with GitHub Issues.</p>
        <div class="buttons">
            <a href="#!signup" class="button large primary signup">Signup</a>
            <div class="button large secondary icon github">Connect with GitHub</div>
        </div>
    </div>
</app-layout>