<app-layout class="app box">
    <div id="promo" class="signup box">
        <div class="left">
            <div class="title">userde.sk</div>
            <a class="link bottom">About the service</a>
        </div>

        <div class="right">
            <div class="header">
                <h1>Signup</h1>
            </div>
            
            <app-signup></app-signup>

            <div class="bottom">
                <a class="link">Check application status</a>
            </div>
        </div>
    </div>
</app-layout>